@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Chewy&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Orbitron:wght@400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Orbitron", sans-serif;
  min-height: 100dvh;
  width: 100%;
  background-color: #081b29;
  color: #fff;
  display: flex;
  justify-content: center;
}

:root {
  --color-menu-button: invert(58%) sepia(88%) saturate(2000%) hue-rotate(90deg)
    brightness(100%) contrast(110%);
  --color-bg-dark: #0a1524;
  --color-accent: #00c851;
  --color-progress: #00c851;
  --color-text-primary: #ffffff;
  --color-text-secondary: #cccccc;
  --color-box-border: #28a745;
  --color-box-bg: rgba(10, 21, 36, 0.85);
  --color-border-skill: #28a745a4;
  --color-shadow: #00c85199;
  --fs-h5: 12px;
}

@keyframes masuk {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
button {
  cursor: pointer;
}

section {
  display: none;
  opacity: 0;
  transition: all 0.5s ease;
}
section.show {
  display: flex;
  opacity: 1;
}

.add-daily-con {
  position: fixed;
  bottom: 50%;
  right: 50%;
  transform: translate(50%, 50%);
  background-color: #0a1524;
  z-index: 99;
  color: #fff;
  display: none;
  opacity: 1;
  flex-direction: column;
  padding: 20px;
  align-items: center;
  width: 300px;
  height: 200px;
  border: 2px solid var(--color-border-skill);
}
.add-daily-con .header {
  font-size: 20px;
  margin-bottom: 10px;
}
.add-daily-con input {
  color: #fff;
  text-transform: capitalize;
  background-color: transparent;
  outline: none;
  font-size: 16px;
  padding: 8px;
  width: 100%;
  margin-bottom: 10px;
  border: 2px solid var(--color-border-skill);
}
.add-daily-con input::-moz-placeholder {
  text-transform: capitalize;
  color: #fff;
}
.add-daily-con input::placeholder {
  text-transform: capitalize;
  color: #fff;
}
.add-daily-con .button {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 10px;
}
.add-daily-con .button button {
  width: 50%;
  font-size: 15px;
  background-color: transparent;
  border: 2px solid var(--color-border-skill);
  color: #fff;
  padding: 8px 10px;
  text-transform: capitalize;
}

.add-quests-con {
  position: fixed;
  bottom: 50%;
  right: 50%;
  transform: translate(50%, 50%);
  background-color: #0a1524;
  z-index: 99;
  display: none;
  flex-direction: column;
  padding: 20px;
  align-items: center;
  width: 300px;
  height: 300px;
  border: 2px solid var(--color-border-skill);
}
.add-quests-con .header {
  font-size: 20px;
  margin-bottom: 10px;
}
.add-quests-con .input-quests {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
}
.add-quests-con .input-quests input {
  color: #fff;
  text-transform: capitalize;
  background-color: transparent;
  outline: none;
  font-size: 16px;
  padding: 8px;
  border: 2px solid var(--color-border-skill);
}
.add-quests-con .input-quests input::-moz-placeholder {
  text-transform: capitalize;
  color: #fff;
}
.add-quests-con .input-quests input::placeholder {
  text-transform: capitalize;
  color: #fff;
}
.add-quests-con .input-quests input.task-description {
  height: 100px;
}
.add-quests-con .input-quests .button {
  display: flex;
  justify-content: center;
}
.add-quests-con .input-quests .button button {
  font-size: 16px;
  background-color: transparent;
  border: 2px solid var(--color-border-skill);
  color: #fff;
  padding: 8px 10px;
  text-transform: capitalize;
}
.add-quests-con #cancel-quests {
  text-transform: capitalize;
  position: absolute;
  font-size: 16px;
  background-color: transparent;
  outline: none;
  border: 2px solid var(--color-border-skill);
  color: #fff;
  padding: 5px;
  bottom: 15px;
  right: 15px;
}
.add-quests-con button {
  cursor: pointer;
}

.name-container,
.hobby-container {
  position: fixed;
  bottom: 50%;
  right: 50%;
  transform: translate(50%, 50%);
  background-color: #0a1524;
  z-index: 99;
  color: #fff;
  display: none;
  opacity: 1;
  flex-direction: column;
  padding: 20px;
  align-items: center;
  width: 300px;
  height: 180px;
  border: 2px solid rgba(30, 75, 255, 0.4);
}
.name-container .header,
.hobby-container .header {
  font-size: 20px;
  margin-bottom: 10px;
}
.name-container input,
.hobby-container input {
  color: #fff;
  text-transform: capitalize;
  background-color: transparent;
  outline: none;
  font-size: 16px;
  padding: 8px;
  width: 100%;
  margin-bottom: 10px;
  border: 2px solid rgba(30, 75, 255, 0.4);
}
.name-container input::-moz-placeholder, .hobby-container input::-moz-placeholder {
  text-transform: capitalize;
  color: #fff;
}
.name-container input::placeholder,
.hobby-container input::placeholder {
  text-transform: capitalize;
  color: #fff;
}
.name-container .button,
.hobby-container .button {
  display: flex;
  justify-content: center;
  width: 100%;
}
.name-container .button button,
.hobby-container .button button {
  font-size: 15px;
  background-color: transparent;
  border: 2px solid rgba(30, 75, 255, 0.4);
  color: #fff;
  padding: 8px 10px;
  text-transform: capitalize;
}

.change-name-con {
  position: fixed;
  bottom: 50%;
  right: 50%;
  transform: translate(50%, 50%);
  background-color: #0a1524;
  z-index: 99;
  color: #fff;
  display: none;
  opacity: 1;
  flex-direction: column;
  padding: 20px;
  align-items: center;
  width: 300px;
  height: 200px;
  border: 2px solid var(--color-border-skill);
}
.change-name-con .header {
  font-size: 20px;
  margin-bottom: 10px;
}
.change-name-con input {
  color: #fff;
  text-transform: capitalize;
  background-color: transparent;
  outline: none;
  font-size: 16px;
  padding: 8px;
  width: 100%;
  margin-bottom: 10px;
  border: 2px solid var(--color-border-skill);
}
.change-name-con input::-moz-placeholder {
  text-transform: capitalize;
  color: #fff;
}
.change-name-con input::placeholder {
  text-transform: capitalize;
  color: #fff;
}
.change-name-con .button {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 10px;
}
.change-name-con .button button {
  width: 50%;
  font-size: 15px;
  background-color: transparent;
  border: 2px solid var(--color-border-skill);
  color: #fff;
  padding: 8px 10px;
  text-transform: capitalize;
}

.restart-con {
  position: fixed;
  bottom: 50%;
  right: 50%;
  transform: translate(50%, 50%);
  background-color: #0a1524;
  z-index: 99;
  color: #fff;
  display: none;
  opacity: 1;
  flex-direction: column;
  padding: 20px;
  align-items: center;
  width: 320px;
  height: 150px;
  border: 2px solid var(--color-border-skill);
}
.restart-con .header {
  font-size: 16px;
  text-align: center;
  margin-bottom: 20px;
}
.restart-con .button {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 10px;
}
.restart-con .button button {
  width: 50%;
  font-size: 15px;
  background-color: transparent;
  border: 2px solid var(--color-border-skill);
  color: #fff;
  padding: 8px 10px;
  text-transform: capitalize;
}
.restart-con .button button:last-child {
  background-color: var(--color-accent);
  color: #fff;
  border: 2px solid var(--color-accent);
}

.introduction {
  animation: masuk 0.8s ease;
  width: 370px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.introduction.focus {
  opacity: 0.4;
}
.introduction .image-wrapper {
  width: 100%;
  position: relative;
  top: 10px;
  display: flex;
  justify-content: center;
}
.introduction .image-wrapper img {
  filter: drop-shadow(0 0 20px #050a44);
  width: 80%;
}
.introduction .dialog-box {
  position: relative;
  border: 2px solid rgba(30, 75, 255, 0.4);
  box-shadow: 0 0 20px #050a44;
  height: 100px;
  background-color: #081b29;
}
.introduction .dialog-box .speech {
  text-transform: capitalize;
  padding: 20px 8px 15px;
  font-size: 16px;
  font-weight: 500;
}
.introduction .dialog-box .name {
  position: absolute;
  top: -20px;
  left: 5px;
  width: -moz-min-content;
  width: min-content;
  padding: 8px;
  border-radius: 50px;
  font-size: 16px;
  background-color: rgba(30, 75, 255, 0.4);
}
.introduction .button {
  position: absolute;
  right: 0;
  bottom: -40px;
}
.introduction .button button {
  background-color: rgba(30, 75, 255, 0.4);
  border: none;
  outline: none;
  color: #fff;
  padding: 7px 15px;
  font-size: 15px;
}

.container {
  animation: masuk 0.6s ease;
  display: none;
  justify-content: space-between;
  flex-direction: column;
  overflow-y: scroll;
  scrollbar-width: none;
  position: relative;
  width: 100%;
  margin: 0 auto;
  max-width: 380px;
  transition: all 0.2s ease;
}
.container.focus {
  opacity: 0.6;
}
.container::-webkit-scrollbar {
  display: none;
}
.container .navbar {
  background-color: #081b29;
  border-top: 2px solid rgba(204, 204, 204, 0.4392156863);
  width: 100%;
  padding: 8px 0 0;
  z-index: 999;
  position: absolute;
  bottom: 0;
  justify-content: space-around;
  display: flex;
}
.container .navbar .nav-item {
  width: 13%;
}
.container .navbar .nav-item.active img {
  filter: invert(100%) brightness(200%);
}
.container .navbar img {
  width: 100%;
  filter: var(--color-menu-button);
  cursor: pointer;
  transition: all 0.3s ease;
}
.container .navbar img:hover {
  filter: invert(100%) brightness(200%);
}
.container .info {
  position: absolute;
  top: 0;
  width: 100%;
  padding: 10px 20px 20px;
  background-color: #081b29;
  z-index: 999;
  display: flex;
  justify-content: space-between;
  color: var(--color-text-secondary);
}
.container .info .level {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.container .info .level .level-skor {
  font-size: var(--fs-h5);
}
.container .info .level .progress-bar {
  position: relative;
  width: 100%;
  height: 8px;
  background-color: transparent;
  border: 1px solid var(--color-progress);
}
.container .info .level .progress-bar .progress {
  position: absolute;
  left: 0;
  height: 8px;
  background-color: var(--color-progress);
}
.container .info .profil {
  display: flex;
  align-items: center;
  gap: 15px;
}
.container .info .profil .name {
  font-size: 16px;
  cursor: pointer;
  text-transform: capitalize;
}
.container .info .profil .fire {
  transition: all 0.3s ease;
}
.container .info .profil .fire.active,
.container .info .profil .fire:hover {
  color: #fff;
}
.container .info .profil .fire,
.container .info .profil .gear,
.container .info .profil .return {
  width: 30px;
  height: 30px;
  text-align: center;
  cursor: pointer;
  font-size: 30px;
  color: var(--color-accent);
  filter: drop-shadow(0 0 1px --color-accent);
}
.container .info .profil .fa-gear {
  font-size: 30px;
}
.container .info .profil .return {
  font-size: 25px;
}
.container .main {
  overflow-x: hidden;
  overflow-y: auto;
  scrollbar-width: none;
  position: absolute;
  bottom: 50%;
  right: 50%;
  transform: translate(50%, 50%);
  padding: 0 10px;
  width: 100%;
  height: calc(100% - 70px - 65px);
  margin: auto;
}
.container .daily-tasks {
  position: relative;
  height: 100%;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.container .daily-tasks .header-content {
  margin-top: 5px;
  position: relative;
  width: 100%;
  color: var(--color-text-secondary);
}
.container .daily-tasks .header-content .header {
  font-weight: 500;
  margin-bottom: 5px;
}
.container .daily-tasks .streak-box {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 55px;
  height: 55px;
  border: 2px solid var(--color-box-border);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin-right: 20px;
  font-size: var(--fs-h5);
  text-transform: uppercase;
}
.container .daily-tasks .streak-box::before {
  content: "";
  position: absolute;
  width: 55px;
  height: 55px;
  transform: rotate(30deg);
  border: 2px solid var(--color-box-border);
}
.container .daily-tasks .tasks-wrapper {
  width: 90%;
  display: flex;
  justify-content: center;
  overflow-x: auto;
  height: 80%;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
}
.container .daily-tasks .tasks-box {
  display: flex;
  margin-top: 25px;
  text-align: center;
  width: 100%;
  gap: 60px;
}
.container .daily-tasks .tasks-box .tasks-content {
  border: 2px solid var(--color-border-skill);
  padding: 20px 0 30px;
  flex: 0 0 100%;
  scroll-snap-align: center;
  font-size: 11px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 30px;
  text-transform: uppercase;
}
.container .daily-tasks .tasks-box .tasks-content:last-child .header {
  position: relative;
}
.container .daily-tasks .tasks-box .tasks-content:last-child .header::before, .container .daily-tasks .tasks-box .tasks-content:last-child .header::after {
  width: 70%;
}
.container .daily-tasks .tasks-box .tasks-content:last-child i {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  color: #081b29;
  padding: 3px 4px 3px;
  background-color: var(--color-accent);
  border-radius: 50%;
  border: 2px solid var(--color-accent);
  cursor: pointer;
  transition: all 0.2s ease;
}
.container .daily-tasks .tasks-box .tasks-content:last-child i:hover {
  color: var(--color-accent);
  border: 2px solid var(--color-accent);
  background-color: #081b29;
}
.container .daily-tasks .tasks-box .tasks-content:last-child .tasks-item {
  justify-content: start;
}
.container .daily-tasks .tasks-box .tasks-content .header {
  position: relative;
  padding: 5px 0 6px;
  font-size: 18px;
}
.container .daily-tasks .tasks-box .tasks-content .header::before {
  content: "";
  position: absolute;
  top: 0;
  right: 50%;
  transform: translateX(50%);
  width: 50%;
  height: 2px;
  background-color: var(--color-box-border);
}
.container .daily-tasks .tasks-box .tasks-content .header::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 50%;
  transform: translateX(50%);
  width: 50%;
  height: 2px;
  background-color: var(--color-box-border);
}
.container .daily-tasks .tasks-box .tasks-content .tasks-item {
  display: flex;
  flex-direction: column;
  gap: 15px;
  height: 150px;
  justify-content: center;
  width: 180px;
  margin: 0 auto;
  overflow: hidden;
  overflow-y: auto;
  scrollbar-width: none;
}
.container .daily-tasks .tasks-box .tasks-content .task-item {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}
.container .daily-tasks .tasks-box .tasks-content .task-item .task-content {
  text-align: start;
  font-size: 14px;
  max-width: 300px;
}
.container .daily-tasks .tasks-box .tasks-content .task-item input {
  position: relative;
  -moz-appearance: none;
       appearance: none;
  -webkit-appearance: none;
  background-color: #fff;
  width: 20px;
  height: 20px;
  min-width: 20px;
  min-height: 20px;
  cursor: pointer;
  /* Tampilkan centangnya saat dicentang */
}
.container .daily-tasks .tasks-box .tasks-content .task-item input:checked {
  background-color: var(--color-accent);
}
.container .daily-tasks .tasks-box .tasks-content .task-item input::after {
  content: "";
  position: absolute;
  width: 6px;
  height: 12px;
  border: solid white;
  border-width: 0 3px 3px 0;
  left: 6px;
  top: 1px;
  transform: rotate(45deg);
  opacity: 0;
  transition: opacity 0.2s;
}
.container .daily-tasks .tasks-box .tasks-content .task-item input:checked::after {
  opacity: 1;
}
.container .daily-tasks .tasks-box .tasks-content .description-item {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.container .daily-tasks .tasks-box .tasks-content .time {
  font-size: 14px;
}
.container .daily-tasks .tasks-box .tasks-content .warning {
  font-size: 14px;
}
.container .daily-tasks .tasks-box .tasks-content .warning span {
  color: red;
  text-shadow: 0 0 1px #f93939;
}
.container .daily-tasks .tasks-box .tasks-content .warning .plus {
  color: var(--color-accent);
}
.container .inventory {
  position: relative;
  width: 100%;
  height: 100%;
  flex-direction: column;
}
.container .inventory .header-content {
  text-transform: capitalize;
  position: relative;
  width: 100%;
  color: var(--color-text-secondary);
}
.container .inventory .header-content .header {
  font-weight: 500;
  margin-bottom: 5px;
}
.container .inventory .description {
  font-size: var(--fs-h5);
}
.container .inventory .inventory-box {
  text-transform: capitalize;
  height: 80%;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.container .setting {
  position: relative;
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: center;
}
.container .setting .header-content {
  margin-top: 20px;
  width: 100%;
  color: var(--color-text-secondary);
}
.container .setting .header-content .header {
  text-align: center;
  position: relative;
  font-weight: 500;
  padding: 5px 0 7px;
}
.container .setting .header-content .header::before {
  content: "";
  position: absolute;
  top: 0;
  right: 50%;
  transform: translateX(50%);
  width: 60%;
  height: 2px;
  background-color: var(--color-box-border);
}
.container .setting .header-content .header::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 50%;
  transform: translateX(50%);
  width: 60%;
  height: 2px;
  background-color: var(--color-box-border);
}
.container .setting .setting-box {
  height: 80%;
  margin-top: 40px;
  width: 50%;
}
.container .setting .setting-box button {
  width: 100%;
  background-color: var(--color-accent);
  border: 2px solid var(--color-accent);
  color: #fff;
  border-radius: 8px;
  font-size: 20px;
  padding: 10px;
  font-weight: 500;
  text-transform: uppercase;
  transition: all 0.2s ease;
}
.container .setting .setting-box button:hover {
  border: 2px solid var(--color-accent);
  background-color: #081b29;
  color: var(--color-accent);
}
.container .quests {
  position: relative;
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-transform: capitalize;
}
.container .quests .header-content {
  margin-top: 5px;
  position: relative;
  width: 100%;
  color: var(--color-text-secondary);
}
.container .quests .header-content .header {
  font-weight: 500;
  margin-bottom: 5px;
}
.container .quests .description {
  font-size: var(--fs-h5);
}
.container .quests .achievement {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 55px;
  height: 55px;
  border: 2px solid var(--color-box-border);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}
.container .quests .achievement::before {
  content: "";
  position: absolute;
  width: 53px;
  height: 53px;
  transform: rotate(30deg);
  border: 2px solid var(--color-box-border);
}
.container .quests .achievement .trophy {
  font-size: 22px;
}
.container .quests .quests-box {
  height: 80%;
  width: 100%;
  margin-top: 25px;
}
.container .quests .quests-box .quests-skill {
  gap: 10px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  height: 220px;
}
.container .quests .quests-box .quests-skill .skill-item {
  padding: 15px;
  width: 100%;
  border: 2px solid var(--color-box-border);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: all 0.3s ease;
  cursor: pointer;
}
.container .quests .quests-box .quests-skill .skill-item:hover {
  transform: scale(1.05);
}
.container .quests .quests-box .quests-skill .skill-item .content {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}
.container .quests .quests-box .quests-skill .skill-item .content .skill-name {
  font-size: 15px;
}
.container .quests .quests-box .quests-skill .skill-item .content i {
  margin-right: 10px;
  font-size: 2.5rem;
}
.container .quests .quests-box .quests-skill .skill-item .content .heart {
  font-size: 2.8rem;
  margin-right: 20px;
}
.container .quests .quests-box .quests-skill .skill-item .content .social {
  margin-right: 20px;
}
.container .quests .quests-box .quests-skill .skill-item .progress-bar {
  position: relative;
  width: 75%;
  height: 8px;
  background-color: transparent;
  border: 1px solid var(--color-progress);
}
.container .quests .quests-box .quests-skill .skill-item .progress-bar .progress {
  position: absolute;
  left: 0;
  height: 8px;
  background-color: var(--color-progress);
}
.container .quests .quests-box .personal-quests {
  display: flex;
  align-items: center;
  margin-top: 15px;
  padding: 15px;
  width: 100%;
  border: 2px solid var(--color-box-border);
  gap: 15px;
  height: 100px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.container .quests .quests-box .personal-quests:hover {
  transform: scale(1.02);
}
.container .quests .quests-box .personal-quests i {
  font-size: 3rem;
}
.container .quests .quests-box .personal-quests .text {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.container .quests .main-str,
.container .quests .main-int,
.container .quests .main-att,
.container .quests .main-soc,
.container .quests .main-personal {
  height: 80%;
  display: none;
  flex-direction: column;
}
.container .quests .main-skill {
  display: flex;
  width: 100%;
  height: 100%;
}
.container .quests .main-skill .content {
  max-width: 300px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.container .quests .main-skill .main-content {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.container .quests .main-skill .main-content .extra-quests {
  width: 100%;
  border-top: 1px solid var(--color-box-border);
}
.container .quests .main-skill .main-content .extra-quests h2 {
  font-size: 20px;
  padding-top: 10px;
}
.container .quests .main-skill .main-content .item {
  border: 2px solid var(--color-border-skill);
  padding: 10px 10px 15px;
  display: flex;
  gap: 5px;
  position: relative;
}
.container .quests .main-skill .main-content .item .text {
  font-weight: 600;
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 90%;
}
.container .quests .main-skill .main-content .item .done {
  position: absolute;
  bottom: 5px;
  right: 5px;
  color: #fff;
  background-color: transparent;
  font-size: 12px;
  border: 2px solid var(--color-border-skill);
  padding: 4px;
  text-align: center;
  cursor: pointer;
}
.container .quests .main-personal {
  width: 100%;
}
.container .quests .main-personal .content {
  position: relative;
}
.container .quests .main-personal .content #addQuests {
  position: absolute;
  right: -55px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 30px;
  background-color: var(--color-accent);
  padding: 8px 9px;
  border-radius: 50%;
  border: 2px solid var(--color-accent);
  color: #081b29;
  transition: all 0.2s ease;
  cursor: pointer;
}
.container .quests .main-personal .content #addQuests:hover {
  color: var(--color-accent);
  border: 2px solid var(--color-accent);
  background-color: #081b29;
}
.container .status {
  height: 100%;
  width: 100%;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container .status .header-content {
  position: relative;
  width: 100%;
  color: var(--color-text-secondary);
}
.container .status .header-content .header {
  font-weight: 500;
  margin-bottom: 15px;
}
.container .status .header-content .description {
  font-size: var(--fs-h5);
}
.container .status .header-content .rank {
  position: absolute;
  right: 0;
  top: 0;
  top: 50%;
  transform: translateY(-50%);
}
.container .status .header-content .rank .rank-box {
  width: 55px;
  height: 55px;
  border: 2px solid var(--color-box-border);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}
.container .status .header-content .rank .rank-box::before {
  content: "";
  position: absolute;
  width: 53px;
  height: 53px;
  transform: rotate(30deg);
  border: 2px solid var(--color-box-border);
}
.container .status .header-content .rank .rank-box .rank-name {
  font-size: 40px;
}
.container .status .status-box {
  height: 80%;
  margin-top: 30px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.container .status .status-box .profil-status {
  display: flex;
  justify-content: space-between;
  border: 2px solid var(--color-box-border);
  padding: 20px;
  align-items: center;
}
.container .status .status-box .profil-status .image-wrapper {
  margin-right: 10px;
  width: 80px;
  margin-right: 10px;
  height: 80px;
  border-radius: 50%;
  background-color: rgba(204, 204, 204, 0.8);
  box-shadow: 0 0 20px var(--color-accent);
  overflow: hidden;
}
.container .status .status-box .profil-status .image-wrapper input {
  display: none;
}
.container .status .status-box .profil-status .image-wrapper img {
  width: 100%;
  height: 100%;
  cursor: pointer;
  transition: all 0.3s ease;
}
.container .status .status-box .profil-status .image-wrapper img:hover {
  transform: scale(1.1);
}
.container .status .status-box .profil-status .profil {
  display: flex;
  flex-direction: column;
  gap: 5px;
  max-width: 180px;
}
.container .status .status-box .profil-status .profil span {
  text-transform: capitalize;
}
.container .status .status-box .profil-status .level {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container .status .status-box .profil-status .level .level-skor {
  font-size: 40px;
}
.container .status .status-box .skill-status {
  width: 100%;
  border: 2px solid var(--color-box-border);
  padding: 20px;
  display: flex;
}
.container .status .status-box .skill-status .skill-item {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.container .status .status-box .skill-status .skill-item:first-child {
  align-items: flex-start;
}
.container .status .status-box .skill-status .skill-item:last-child {
  align-items: flex-end;
}
.container .status .status-box .skill-status .skill {
  display: flex;
  gap: 10px;
}
.container .status .status-box .mix-skill {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 15px;
}
.container .status .status-box .mix-skill .skill-item {
  position: relative;
  width: 100%;
  border: 2px solid var(--color-box-border);
  padding: 18px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.container .status .status-box .mix-skill .skill-item .content {
  display: flex;
  align-items: center;
  gap: 10px;
}
.container .status .status-box .mix-skill .skill-item .content i {
  font-size: 40px;
}
.container .status .status-box .mix-skill .skill-item .progress-bar {
  position: relative;
  width: 90%;
  height: 8px;
  background-color: transparent;
  border: 1px solid var(--color-progress);
}
.container .status .status-box .mix-skill .skill-item .progress-bar .progress {
  position: absolute;
  left: 0;
  height: 8px;
  background-color: var(--color-progress);
}
.container .status .status-box .mix-skill .skill-item .poinEnd,
.container .status .status-box .mix-skill .skill-item .poinCha {
  position: absolute;
  top: 5px;
  right: 8px;
  font-size: 16px;
}/*# sourceMappingURL=style.css.map */