@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Chewy&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Orbitron:wght@400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Orbitron", sans-serif;
  min-height: 100dvh;
  // overflow: hidden;
  width: 100%;
  background-color: #081b29;
  color: #fff;
  display: flex;
  justify-content: center;
}

:root {
  --color-menu-button: invert(58%) sepia(88%) saturate(2000%) hue-rotate(90deg)
    brightness(100%) contrast(110%);
  --color-bg-dark: #0a1524;
  --color-accent: #00c851;
  --color-progress: #00c851;
  --color-text-primary: #ffffff;
  --color-text-secondary: #cccccc;
  --color-box-border: #28a745;
  --color-box-bg: rgba(10, 21, 36, 0.85);
  --color-border-skill: #28a745a4;
  --color-shadow: #00c85199;

  --fs-h5: 12px;
}

@import "mixin";

button {
  cursor: pointer;
}

section {
  display: none;
  opacity: 0;
  transition: all 0.5s ease;

  &.show {
    display: flex;
    opacity: 1;
  }
}

.add-daily-con {
  position: fixed;
  bottom: 50%;
  right: 50%;
  transform: translate(50%, 50%);
  background-color: #0a1524;
  z-index: 99;
  color: #fff;
  display: none;
  opacity: 1;
  flex-direction: column;
  padding: 20px;
  align-items: center;
  width: 300px;
  height: 200px;
  border: 2px solid var(--color-border-skill);

  .header {
    font-size: 20px;
    margin-bottom: 10px;
  }

  input {
    color: #fff;
    text-transform: capitalize;
    background-color: transparent;
    outline: none;
    font-size: 16px;
    padding: 8px;
    width: 100%;
    margin-bottom: 10px;
    border: 2px solid var(--color-border-skill);

    &::placeholder {
      text-transform: capitalize;
      color: #fff;
    }
  }
  .button {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 10px;

    button {
      width: 50%;
      font-size: 15px;
      background-color: transparent;
      border: 2px solid var(--color-border-skill);
      color: #fff;
      padding: 8px 10px;
      text-transform: capitalize;
    }
  }
}

.add-quests-con {
  position: fixed;
  bottom: 50%;
  right: 50%;
  transform: translate(50%, 50%);
  background-color: #0a1524;
  z-index: 99;
  display: none;
  flex-direction: column;
  padding: 20px;
  align-items: center;
  width: 300px;
  height: 300px;
  border: 2px solid var(--color-border-skill);

  .header {
    font-size: 20px;
    margin-bottom: 10px;
  }

  .input-quests {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;

    input {
      color: #fff;
      text-transform: capitalize;
      background-color: transparent;
      outline: none;
      font-size: 16px;
      padding: 8px;
      border: 2px solid var(--color-border-skill);

      &::placeholder {
        text-transform: capitalize;
        color: #fff;
      }

      &.task-description {
        height: 100px;
      }
    }

    .button {
      display: flex;
      justify-content: center;

      button {
        font-size: 16px;
        background-color: transparent;
        border: 2px solid var(--color-border-skill);
        color: #fff;
        padding: 8px 10px;
        text-transform: capitalize;
      }
    }
  }

  #cancel-quests {
    text-transform: capitalize;
    position: absolute;
    font-size: 16px;
    background-color: transparent;
    outline: none;
    border: 2px solid var(--color-border-skill);
    color: #fff;
    padding: 5px;
    bottom: 15px;
    right: 15px;
  }

  button {
    cursor: pointer;
  }
}

.name-container,
.hobby-container {
  position: fixed;
  bottom: 50%;
  right: 50%;
  transform: translate(50%, 50%);
  background-color: #0a1524;
  z-index: 99;
  color: #fff;
  display: none;
  opacity: 1;
  flex-direction: column;
  padding: 20px;
  align-items: center;
  width: 300px;
  height: 180px;
  border: 2px solid rgba(30, 75, 255, 0.4);

  .header {
    font-size: 20px;
    margin-bottom: 10px;
  }

  input {
    color: #fff;
    text-transform: capitalize;
    background-color: transparent;
    outline: none;
    font-size: 16px;
    padding: 8px;
    width: 100%;
    margin-bottom: 10px;
    border: 2px solid rgba(30, 75, 255, 0.4);

    &::placeholder {
      text-transform: capitalize;
      color: #fff;
    }
  }
  .button {
    display: flex;
    justify-content: center;
    width: 100%;

    button {
      font-size: 15px;
      background-color: transparent;
      border: 2px solid rgba(30, 75, 255, 0.4);
      color: #fff;
      padding: 8px 10px;
      text-transform: capitalize;
    }
  }
}

.change-name-con {
  position: fixed;
  bottom: 50%;
  right: 50%;
  transform: translate(50%, 50%);
  background-color: #0a1524;
  z-index: 99;
  color: #fff;
  display: none;
  opacity: 1;
  flex-direction: column;
  padding: 20px;
  align-items: center;
  width: 300px;
  height: 200px;
  border: 2px solid var(--color-border-skill);

  .header {
    font-size: 20px;
    margin-bottom: 10px;
  }

  input {
    color: #fff;
    text-transform: capitalize;
    background-color: transparent;
    outline: none;
    font-size: 16px;
    padding: 8px;
    width: 100%;
    margin-bottom: 10px;
    border: 2px solid var(--color-border-skill);

    &::placeholder {
      text-transform: capitalize;
      color: #fff;
    }
  }
  .button {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 10px;

    button {
      width: 50%;
      font-size: 15px;
      background-color: transparent;
      border: 2px solid var(--color-border-skill);
      color: #fff;
      padding: 8px 10px;
      text-transform: capitalize;
    }
  }
}

.restart-con {
  position: fixed;
  bottom: 50%;
  right: 50%;
  transform: translate(50%, 50%);
  background-color: #0a1524;
  z-index: 99;
  color: #fff;
  display: none;
  opacity: 1;
  flex-direction: column;
  padding: 20px;
  align-items: center;
  width: 320px;
  height: 150px;
  border: 2px solid var(--color-border-skill);

  .header {
    font-size: 16px;
    text-align: center;
    margin-bottom: 20px;
  }

  .button {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 10px;

    button {
      width: 50%;
      font-size: 15px;
      background-color: transparent;
      border: 2px solid var(--color-border-skill);
      color: #fff;
      padding: 8px 10px;
      text-transform: capitalize;

      &:last-child {
        background-color: var(--color-accent);
        color: #fff;
        border: 2px solid var(--color-accent);
      }
    }
  }
}

.introduction {
  animation: masuk 0.8s ease;
  width: 370px;
  display: flex;
  justify-content: center;
  flex-direction: column;

  &.focus {
    opacity: 0.4;
  }

  .image-wrapper {
    width: 100%;
    position: relative;
    top: 10px;
    display: flex;
    justify-content: center;

    img {
      filter: drop-shadow(0 0 20px #050a44);
      width: 80%;
    }
  }

  .dialog-box {
    position: relative;
    border: 2px solid rgba(30, 75, 255, 0.4);
    box-shadow: 0 0 20px #050a44;
    height: 100px;
    background-color: #081b29;

    .speech {
      text-transform: capitalize;
      padding: 20px 8px 15px;
      font-size: 16px;
      font-weight: 500;
    }

    .name {
      position: absolute;
      top: -20px;
      left: 5px;
      width: min-content;
      padding: 8px;
      border-radius: 50px;

      font-size: 16px;
      background-color: rgba(30, 75, 255, 0.4);
    }
  }

  .button {
    position: absolute;
    right: 0;
    bottom: -40px;

    button {
      background-color: rgba(30, 75, 255, 0.4);
      border: none;
      outline: none;
      color: #fff;
      padding: 7px 15px;
      font-size: 15px;
    }
  }
}

.container {
  animation: masuk 0.6s ease;
  display: none;
  overflow-y: scroll;
  scrollbar-width: none;
  position: relative;
  width: 380px;
  border: 1px solid;
  transition: all 0.2s ease;

  &.focus {
    opacity: 0.6;
  }

  &::-webkit-scrollbar {
    display: none;
  }

  .navbar {
    border-top: 2px solid #cccccc70;
    width: 100%;
    padding: 8px 0 0;
    position: absolute;
    bottom: 0;
    justify-content: space-around;
    display: flex;

    .nav-item {
      width: 13%;
    }

    .nav-item.active img {
      filter: invert(100%) brightness(200%);
    }

    img {
      width: 100%;
      filter: var(--color-menu-button);
      cursor: pointer;
      transition: all 0.3s ease;

      &:hover {
        filter: invert(100%) brightness(200%);
      }
    }
  }

  .info {
    position: sticky;
    top: 0;
    width: 100%;
    padding: 10px 20px 20px;
    background-color: #081b29;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    color: var(--color-text-secondary);

    .level {
      width: 50%;
      display: flex;
      flex-direction: column;
      gap: 8px;
      .level-skor {
        font-size: var(--fs-h5);
      }

      .progress-bar {
        position: relative;
        width: 100%;
        height: 8px;
        background-color: transparent;
        border: 1px solid var(--color-progress);

        .progress {
          position: absolute;
          left: 0;
          height: 8px;
          background-color: var(--color-progress);
        }
      }
    }
    .profil {
      display: flex;
      align-items: center;
      gap: 15px;

      .name {
        font-size: 16px;
        cursor: pointer;
        text-transform: capitalize;
      }

      .fire,
      .return {
        font-size: 30px;
        color: var(--color-accent);
        filter: drop-shadow(0 0 1px --color-accent);
      }

      .return {
        font-size: 25px;
        cursor: pointer;
      }
    }
  }

  .main {
    position: absolute;
    margin-top: 26px;
    padding: 0 10px;
    width: 100%;
  }

  .daily-tasks {
    flex-direction: column;
    align-items: center;
    width: 100%;

    .header-content {
      position: relative;
      width: 100%;
      color: var(--color-text-secondary);
      .header {
        font-weight: 500;
        margin-bottom: 5px;
      }
    }

    .streak-box {
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      @include border(55px, 55px);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 5px;
      margin-right: 20px;
      font-size: var(--fs-h5);
      text-transform: uppercase;
    }

    .tasks-wrapper {
      width: 80%;
      display: flex;
      justify-content: center;
      overflow-x: auto;
      scroll-snap-type: x mandatory;
      scrollbar-width: none;
    }

    .tasks-box {
      display: flex;
      margin-top: 25px;
      text-align: center;
      width: 100%;
      gap: 60px;

      .tasks-content {
        border: 2px solid var(--color-border-skill);
        padding: 20px 0 30px;
        flex: 0 0 100%;
        scroll-snap-align: center;
        font-size: 11px;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 30px;
        text-transform: uppercase;

        &:last-child {
          .header {
            position: relative;
            &::before,
            &::after {
              width: 70%;
            }
          }

          i {
            position: absolute;
            right: 12px;
            top: 50%;
            transform: translateY(-50%);
            color: #081b29;
            padding: 3px 4px 3px;
            background-color: var(--color-accent);
            border-radius: 50%;
            border: 2px solid var(--color-accent);
            cursor: pointer;
            transition: all 0.2s ease;

            &:hover {
              color: var(--color-accent);
              border: 2px solid var(--color-accent);
              background-color: #081b29;
            }
          }

          .tasks-item {
            justify-content: start;
          }
        }

        .header {
          position: relative;
          padding: 5px 0 6px;
          font-size: 15px;
          &::before {
            content: "";
            position: absolute;
            top: 0;
            right: 50%;
            transform: translateX(50%);
            width: 50%;
            height: 2px;
            background-color: var(--color-box-border);
          }

          &::after {
            content: "";
            position: absolute;
            bottom: 0;
            right: 50%;
            transform: translateX(50%);
            width: 50%;
            height: 2px;
            background-color: var(--color-box-border);
          }
        }

        .tasks-item {
          display: flex;
          flex-direction: column;
          gap: 15px;
          height: 150px;
          justify-content: center;
          width: 150px;
          margin: 0 auto;
          overflow: hidden;
          overflow-y: auto;
          scrollbar-width: none;
        }

        .task-item {
          display: flex;
          align-items: center;
          gap: 10px;
          margin-bottom: 10px;

          .task-content {
            text-align: start;
            max-width: 150px;
          }

          input {
            position: relative;
            appearance: none;
            -webkit-appearance: none;
            background-color: #fff;
            width: 20px;
            height: 20px;
            min-width: 20px;
            min-height: 20px;
            cursor: pointer;

            &:checked {
              background-color: var(--color-accent);
            }
            &::after {
              content: "";
              position: absolute;
              width: 6px;
              height: 12px;
              border: solid white;
              border-width: 0 3px 3px 0;
              left: 6px;
              top: 1px;
              transform: rotate(45deg);
              opacity: 0;
              transition: opacity 0.2s;
            }

            /* Tampilkan centangnya saat dicentang */
            &:checked::after {
              opacity: 1;
            }
          }
        }

        .description-item {
          display: flex;
          flex-direction: column;
          gap: 10px;
        }

        .warning {
          span {
            color: red;
            text-shadow: 0 0 1px #f93939;
          }
        }
      }
    }
  }

  .setting {
    width: 100%;
    flex-direction: column;
    align-items: center;

    .header-content {
      width: 100%;
      color: var(--color-text-secondary);

      .header {
        text-align: center;
        position: relative;
        font-weight: 500;
        padding: 5px 0 7px;

        &::before {
          content: "";
          position: absolute;
          top: 0;
          right: 50%;
          transform: translateX(50%);
          width: 60%;
          height: 2px;
          background-color: var(--color-box-border);
        }

        &::after {
          content: "";
          position: absolute;
          bottom: 0;
          right: 50%;
          transform: translateX(50%);
          width: 60%;
          height: 2px;
          background-color: var(--color-box-border);
        }
      }
    }

    .setting-box {
      margin-top: 40px;
      width: 50%;

      button {
        width: 100%;
        background-color: var(--color-accent);
        border: 2px solid var(--color-accent);
        color: #fff;
        border-radius: 8px;
        font-size: 20px;
        padding: 10px;
        font-weight: 500;
        text-transform: uppercase;
        transition: all 0.2s ease;

        &:hover {
          border: 2px solid var(--color-accent);
          background-color: #081b29;
          color: var(--color-accent);
        }
      }
    }
  }

  .quests {
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-transform: capitalize;
    .header-content {
      position: relative;
      width: 100%;
      color: var(--color-text-secondary);
      .header {
        font-weight: 500;
        margin-bottom: 5px;
      }
    }

    .description {
      font-size: var(--fs-h5);
    }

    .achievement {
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      @include border(55px, 53px);
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 20px;

      .trophy {
        font-size: 22px;
      }
    }

    .quests-box {
      width: 100%;
      margin-top: 30px;
      .quests-skill {
        gap: 15px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: 100%;
        height: 220px;

        .skill-item {
          padding: 15px;
          width: 100%;
          border: 2px solid var(--color-box-border);
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          transition: all 0.3s ease;
          cursor: pointer;

          &:hover {
            transform: scale(1.05);
          }

          .content {
            margin-bottom: 10px;
            display: flex;
            align-items: center;

            .skill-name {
              font-size: 15px;
            }

            i {
              margin-right: 10px;
              font-size: 2.5rem;
            }

            .heart {
              font-size: 2.8rem;
              margin-right: 20px;
            }

            .social {
              margin-right: 20px;
            }
          }

          .progress-bar {
            position: relative;
            width: 75%;
            height: 8px;
            background-color: transparent;
            border: 1px solid var(--color-progress);

            .progress {
              position: absolute;
              left: 0;
              height: 8px;
              background-color: var(--color-progress);
            }
          }
        }
      }

      .personal-quests {
        display: flex;
        align-items: center;
        margin-top: 20px;
        padding: 15px;
        width: 100%;
        border: 2px solid var(--color-box-border);
        gap: 15px;
        height: 100px;
        cursor: pointer;
        transition: all 0.3s ease;

        &:hover {
          transform: scale(1.02);
        }

        i {
          font-size: 3rem;
        }

        .text {
          display: flex;
          flex-direction: column;
          gap: 10px;
        }
      }
    }

    .main-str,
    .main-int,
    .main-att,
    .main-soc,
    .main-personal {
      display: none;
      flex-direction: column;
    }

    .main-skill {
      display: flex;
      width: 100%;

      .content {
        max-width: 300px;
        display: flex;
        flex-direction: column;
        gap: 8px;
      }

      .main-content {
        margin-top: 15px;
        display: flex;
        flex-direction: column;
        gap: 15px;

        .extra-quests {
          width: 100%;
          border-top: 1px solid var(--color-box-border);
          h2 {
            font-size: 20px;
            padding-top: 10px;
          }
        }
        .item {
          border: 2px solid var(--color-border-skill);
          padding: 10px 10px 15px;
          display: flex;
          gap: 5px;
          position: relative;

          .text {
            font-weight: 600;
            display: flex;
            flex-direction: column;
            gap: 10px;
            max-width: 90%;
          }

          .done {
            position: absolute;
            bottom: 5px;
            right: 5px;
            color: #fff;
            background-color: transparent;
            font-size: 12px;
            border: 2px solid var(--color-border-skill);
            padding: 4px;
            text-align: center;
            cursor: pointer;
          }
        }
      }
    }

    .main-personal {
      width: 100%;
      .content {
        position: relative;
        #addQuests {
          position: absolute;
          right: -55px;
          top: 50%;
          transform: translateY(-50%);
          font-size: 30px;
          background-color: var(--color-accent);
          padding: 8px 9px;
          border-radius: 50%;
          border: 2px solid var(--color-accent);
          color: #081b29;
          transition: all 0.2s ease;
          cursor: pointer;

          &:hover {
            color: var(--color-accent);
            border: 2px solid var(--color-accent);
            background-color: #081b29;
          }
        }
      }
    }
  }

  .status {
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .header-content {
      position: relative;
      width: 100%;
      color: var(--color-text-secondary);

      .header {
        font-weight: 500;
        margin-bottom: 15px;
      }

      .description {
        font-size: var(--fs-h5);
      }

      .rank {
        position: absolute;
        right: 0;
        top: 0;
        top: 50%;
        transform: translateY(-50%);
        .rank-box {
          @include border(55px, 53px);
          display: flex;
          justify-content: center;
          align-items: center;
          margin-right: 20px;

          .rank-name {
            font-size: 40px;
          }
        }
      }
    }

    .status-box {
      margin-top: 30px;
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 8px;

      .profil-status {
        display: flex;
        justify-content: space-between;
        border: 2px solid var(--color-box-border);
        padding: 20px;
        align-items: center;

        .image-wrapper {
          width: 100px;
          height: 100px;
          border-radius: 50%;
          background-color: #cccc;
          box-shadow: 0 0 20px var(--color-accent);
          overflow: hidden;

          input {
            display: none;
          }

          img {
            width: 100%;
            height: 100%;
            cursor: pointer;
            transition: all 0.3s ease;

            &:hover {
              transform: scale(1.1);
            }
          }
        }

        .profil {
          display: flex;
          flex-direction: column;
          gap: 5px;

          span {
            text-transform: capitalize;
          }
        }

        .level {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;

          .level-skor {
            font-size: 40px;
          }
        }
      }

      .skill-status {
        width: 100%;
        border: 2px solid var(--color-box-border);
        padding: 20px;
        display: flex;

        .skill-item {
          width: 100%;
          display: flex;
          flex-direction: column;
          gap: 10px;
          &:first-child {
            align-items: flex-start;
          }

          &:last-child {
            align-items: flex-end;
          }
        }

        .skill {
          display: flex;
          gap: 10px;
        }
      }

      .mix-skill {
        display: flex;
        justify-content: space-between;
        width: 100%;
        gap: 8px;
        .skill-item {
          position: relative;
          width: 100%;
          border: 2px solid var(--color-box-border);
          padding: 18px;
          display: flex;
          flex-direction: column;
          gap: 15px;

          .content {
            display: flex;
            align-items: center;
            gap: 10px;

            i {
              font-size: 40px;
            }
          }

          .progress-bar {
            position: relative;
            width: 90%;
            height: 8px;
            background-color: transparent;
            border: 1px solid var(--color-progress);

            .progress {
              position: absolute;
              left: 0;
              height: 8px;
              background-color: var(--color-progress);
            }
          }
          .poinEnd,
          .poinCha {
            position: absolute;
            top: 5px;
            right: 8px;
            font-size: 16px;
          }
        }
      }
    }
  }
}
